.container {
    text-align: center;
    background-color: #ffb8bf;
}
.container ul {
    display: inline-block;
    margin: 10px 0;
    padding: 2px;
}
.container li {
    display: inline-block;
    margin: 40px;
}