body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: start;
    column-gap: 50px;
    background-color: #FF00CD;

}


